{% load blogs_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "blog/blog.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar ">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="{% url 'blog:post_list' %}">Reciper</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'blog:post_list' %}">Recipes</a></li>
          <li><a href="#">Add Post</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.I've written {% total_posts %} posts so far.</p>
    <h3>Latest Posts</h3>
        {% show_latest_posts 4 %}
        <h3>Most Commented Posts</h3>
        {% get_most_commented_posts as most_commented_posts%}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>